<div class="container">
  <div class="section-heading text-center text-lg-start">
    <h6>Nice to meet you!</h6>
    <h2>Welcome to...</h2>
  </div>
  <div class="row gy-4">
    <div class="col-lg-5">
      <div class="about-left">
        <div class="about-avatar">
          <img src="assets/img/about-banner.png" title="" alt="" />
        </div>
        <h3>Reflections</h3>
        <p>Branden Mackie <span>based in</span> Austin, TX</p>
        <div class="btn-bar">
          <a class="px-btn" href="javascript:">
            Download CV <i class="bi-download"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-7 ps-xl-5">
      <div class="about-bio">
        <p>
          At reflections, we are dedicated to revolutionizing the automotive
          aesthetic industry through our exceptional ceramic coating and paint
          correction solutions. Our mission is to provide unparalleled
          protection and enhancement for vehicles, ensuring they maintain their
          pristine appearance for years to come. With a commitment to care,
          quality, and customer satisfaction, we strive to exceed expectations,
          empower vehicle owners, and redefine the standards of excellence in
          automotive care. Through our meticulous craftsmanship and love for the
          industry, we aim to inspire confidence in every journey, preserving
          the beauty and value of our clients’ investments.
        </p>
      </div>
      <div class="about-contact row gx-lg-5">
        <div class="col-sm-6">
          <p><i class="bi-phone"></i> <span>(512) 927-7479</span></p>
        </div>
        <div class="col-sm-6">
          <p><i class="bi-person"></i> <span>Branden Mackie</span></p>
        </div>
        <div class="col-sm-6">
          <p>
            <i class="bi-envelope"></i> <span>reflectionscc17@gmail.com</span>
          </p>
        </div>
        <div class="col-sm-6">
          <p><i class="bi-map"></i> <span>Texas, USA</span></p>
        </div>
      </div>
      <div class="about-exp">
        <div class="row gy-4">
          <div class="col-md-6">
            <div class="a-number">
              <h6>5+</h6>
              <span>Years<br />experience...</span>
            </div>
            <p class="lead">
              I <span>Branden Mackie,</span> have been fascinated with cars for
              as long as I can remember. As I grew older, this fascination
              turned into an obsession. I started working at a car wash when I
              was 17 and found a new passion within the industry.
            </p>
          </div>
          <div class="col-md-6">
            <div class="a-number">
              <h6>50+</h6>
              <span>Clients<br />Worldwide...</span>
            </div>
            <p class="lead">
              I worked at Lexus for a year and a half. When I left Lexus, I
              moved to Lubbock and joined a company doing ceramic coating. I
              worked for that company until I graduated, and now I would like to
              use my skills to enhance the automotive market in Austin. I have
              over three years of experience in ceramic coating and over five
              years of detailing experience. If you are looking to have your car
              receive the best services in Austin, look no further.
            </p>
          </div>
        </div>
        <blockquote>
          <i class="fa-solid fa-quote-left"></i>
          <p>
            “Reflections Ceramic Coating brought my BMW M3 to life! He's
            passionate about his work.”
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</div>
