<div class="container">
  <div class="row min-vh-100 align-items-center">
    <div class="col-lg-7 col-xl-7 col-xxl-6">
      <div class="hb-text">
        <h1>
          Refle<span>ctions</span>
          <hr />
          <span> Ceramic </span>Coating
        </h1>
        <p class="lead">
          <span>Branden Mackie</span> based in <span>Austin, TX</span>
        </p>
        <div class="btn-bar">
          <a class="px-btn" href="#contact">
            Work with me <i class="bi-arrow-up-right"></i>
          </a>
        </div>
        <div class="info-bar">
          <p>
            <i class="bi-phone"></i>
            <span><a href="tel:7372773709">(737) 277-3709</a></span>
          </p>
          <p>
            <i class="bi-envelope"></i>
            <span
              ><a href="mailto:reflectionscc17@gmail.com"
                >reflectionscc17@gmail.com</a
              ></span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="hb-me"
  style="
    background-image: url(assets/img/supra.jpg);
    max-height: 90vh;
    margin-top: 3vh;
    border-radius: 1000px;
  "
></div>
<div class="social-fix">
  <div class="social-links">
    <a
      href="https://www.instagram.com/reflectionscc_atx?igsh=MTdzamNmY2pyaG9zMg%3D%3D&utm_source=qr"
      ><i class="fab fa-instagram"></i
    ></a>
    <a
      href="https://www.facebook.com/profile.php?id=61557830232266&mibextid=LQQJ4d"
      ><i class="fab fa-facebook"></i
    ></a>
  </div>
</div>
