<div class="container">
  <div class="section-heading">
    <h6>My Work</h6>
    <h2>Recent project</h2>
  </div>
  <div class="row gy-5 lightbox-gallery">
    <div class="col-lg-6">
      <div class="work-box">
        <div class="work-img">
          <a
            href="assets/img/Basic-E82.jpg"
            title="View Gallery"
            data-title="Basic Package E82"
            data-lightbox="services"
          >
            <img src="assets/img/Basic-E82.jpg" title="" alt="" />
          </a>
        </div>
        <div class="work-text">
          <h6>Basic Package E82</h6>
          <h4>E82</h4>
          <!-- <div class="btn-bar">
                        <a class="gallery-link" title="Read More" data-bs-toggle="modal" 
                        data-bs-target="#work_1"><i class="bi-arrow-up-right"></i></a>
                    </div> -->
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="work-box">
        <div class="work-img">
          <a
            href="assets/img/Rear End-SQ8.jpg"
            title="View Gallery"
            data-title="Enthusiast Package - Rear"
            data-lightbox="services"
          >
            <img src="assets/img/Rear End-SQ8.jpg" title="" alt="" />
          </a>
        </div>
        <div class="work-text">
          <h6>Enthusiast Package - Rear</h6>
          <h4>SQ8</h4>
          <!-- <div class="btn-bar">
                        <a class="gallery-link"  title="Read More" data-bs-toggle="modal" 
                        data-bs-target="#work_2"><i class="bi-arrow-up-right"></i></a>
                    </div> -->
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="work-box">
        <div class="work-img">
          <a
            href="assets/img/Enthusiast Package-SQ8.jpg"
            title="View Gallery"
            data-title="Enthusiast Package - Front"
            data-lightbox="services"
          >
            <img src="assets/img/Enthusiast Package-SQ8.jpg" title="" alt="" />
          </a>
        </div>
        <div class="work-text">
          <h6>Enthusiast Package - Front</h6>
          <h4>SQ8</h4>
          <!-- <div class="btn-bar">
                        <a class="gallery-link"  title="Read More" data-bs-toggle="modal" 
                        data-bs-target="#work_3"><i class="bi-arrow-up-right"></i></a>
                    </div> -->
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="work-box">
        <div class="work-img">
          <a
            href="assets/img/Paint Correcion-BMW.jpg"
            title="View Gallery"
            data-title="Paint Correction - BMW"
            data-lightbox="services"
          >
            <img src="assets/img/Paint Correcion-BMW.jpg" title="" alt="" />
          </a>
        </div>
        <div class="work-text">
          <h6>Paint Correction - BMW</h6>
          <h4>BMW</h4>
          <!-- <div class="btn-bar">
                        <a class="gallery-link" title="Read More" data-bs-toggle="modal" 
                        data-bs-target="#work_4"><i class="bi-arrow-up-right"></i></a>
                    </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
